:root {
  --dark-purple: #351C75;
  --light-purple: #bd60e7;
  --gray: #d9d3e9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: var(--dark-purple);
  color: white;
}

button:active {
  background-color: var(--light-purple);
}